.photo-card {
  width: 250px;
  height: 230px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.photo-card__img {
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 2px;
}

.photo-card__content {
  height: 30% !important;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: white;
}
