:root {
  --side: 21px;
}

.mode-toggle__container {
  background-color: var(--background);
  width: calc(var(--side) + 0.8rem);
  height: calc(var(--side) + 0.8rem);
  border-radius: 100%;
  position: relative;
  border: transparent;
}

.mode-toggle-btn {
  inset: 1px 1px 1px 1px;
  background-color: transparent;
  background-color: var(--background);
  position: absolute;
  border-radius: 100%;
}

.mode-toggle-btn .weather-svg {
  height: var(--side);
  width: var(--side);
  color: var(--text);
}
