:root {
  --side: 1.2rem;
}

.mode-toggle__container {
  position: relative;
  border: transparent;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.mode-toggle__btn {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10%;
  background: var(--primary);
  transition: all 50ms ease-in-out;
}
.mode-toggle__btn:hover {
}
.mode-toggle__btn:hover > .weather-svg {
  transform: rotateZ(-105deg);
}

.mode-toggle__btn .weather-svg {
  transition: 200ms all ease-in-out;
  height: var(--side);
  width: var(--side);
  color: var(--text);
}
