<!-- Footer -->
<footer class="portfolio__footer">
  <div class="footer__container">
    <!-- Social icons -->

    <div class="footer__social">
      <a href="https://github.com/RoldanIsaac" target="_blank"
        ><i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/tu-usuario/" target="_blank"
        ><i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/tu-usuario/" target="_blank"
        ><i class="fab fa-instagram"> </i
      ></a>
      <a href="https://www.telegram.com/tu-usuario/" target="_blank"
        ><i class="fab fa-telegram white"></i
      ></a>
    </div>

    <div class="footer__section">
      <!-- Links -->
      <div class="footer__links-container">
        <a href="#inicio" class="footer__links">Home</a>
        <a href="#proyectos" class="footer__links">Projects</a>
        <a href="#fotografia" class="footer__links">Photography</a>
        <a href="#acerca-de" class="footer__links">About me</a>
        <a href="#contacto" class="footer__links">Contact</a>
      </div>

      <!-- Copyrigth -->
      <div class="footer__message">
        <p>2025 OLI &copy; All rights reserved.</p>
      </div>
    </div>

    <div id="mode-toggle"></div>
  </div>
</footer>
