<!-- Footer -->
<footer>
  <div>
    <a href="#inicio">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#fotografia">Fotografía</a>
    <a href="#acerca-de">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </div>

  <div id="mode-toggle"></div>

  <!-- Iconos Sociales -->
  <div class="social-icons">
    <a href="https://github.com/tu-usuario" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/tu-usuario/" target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://www.instagram.com/tu-usuario/" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>

  <!-- Mensaje -->
  <div class="footer-message">
    <p>&copy; 2025 OLI &copy;. Todos los derechos reservados.</p>
  </div>
</footer>
