<!-- Footer -->
<footer>
  <div>
    <a href="#inicio">Home</a>
    <a href="#proyectos">Projects</a>
    <a href="#fotografia">Photography</a>
    <a href="#acerca-de">About me</a>
    <a href="#contacto">Contact</a>
  </div>

  <div id="mode-toggle"></div>

  <!-- Iconos Sociales -->
  <div class="social-icons">
    <a href="https://github.com/tu-usuario" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a href="https://www.linkedin.com/in/tu-usuario/" target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://www.instagram.com/tu-usuario/" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>

  <!-- Mensaje -->
  <div class="footer-message">
    <p>2025 OLI &copy; All rights reserved.</p>
  </div>
</footer>
