.main__container {
  margin: auto;
  margin-top: 3rem;
  min-height: 70vh;
  background-color: var(--background);
}

.main__cta {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.6rem;
}
