<section id="projects" class="projects-container">
  <h2>
    Client projects <strong>from angular to figma and ux/ui design</strong>
  </h2>
  <p>I work with clients from Cuba to United States on FrontEnd projects</p>

  <div class="projects__body">
    <div>
      <div>
        <!-- chips -->
      </div>
      <p class="projects__review">
        <span>
          Currently working on SHO MANAGEMENT SYSTEM, a web application that
          allows you to manage your business from anywhere.
        </span>
        <span>
          It is a web app including google maps, firebase authentication, and a
          lot of other features.
        </span>
      </p>
    </div>

    <div id="projects__cards-container" class="projects__cards-container"></div>
  </div>
</section>
