<div>
  <div id="navbar-container"></div>

  <div id="main-container"></div>
  <div id="projects-container"></div>
  <div id="current-project-container"></div>
  <div id="avatar-container"></div>

  <div id="banner-container"></div>

  <div id="tabs-container"></div>
  <div id="photography-container"></div>
  <div id="testimonials-container"></div>
  <div id="skills-container"></div>
  <div id="about-container"></div>
  <div id="contact-container"></div>

  <div id="footer-container"></div>
</div>
