<div>
  <div id="navbar-container"></div>

  <!-- WebDeb -->
  <div id="main-container" class="section-spacing"></div>
  <div id="projects-container" class="section-spacing"></div>
  <div id="current-project-container" class="section-spacing"></div>
  <!-- <div id="avatar-container" class="section-spacing"></div> -->

  <div id="banner-container"></div>

  <!-- Photography -->
  <div id="photography-container" class="section-spacing"></div>
  <!-- <div id="testimonials-container" class="section-spacing"></div> -->
  <!-- <div id="skills-container" class="section-spacing"></div> -->
  <!-- <div id="tabs-container" class="section-spacing"></div> -->
  <div id="about-container" class="section-spacing"></div>

  <!-- Contact -->
  <div id="contact-container" class="section-spacing"></div>

  <div id="footer-container"></div>
</div>
