.dual-pofession-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.dual-pofession-container img {
  max-width: 300px;
  background-color: transparent !important;
}

.divider {
  border-left: dashed 1px hsl(154, 5%, 50%);
  opacity: 0.8;
  margin: 1rem;
  height: 300px;
  transform: rotateZ(180deg);
}

@media (max-width: 962px) {
  .dual-pofession-container {
    display: flex;
    flex-direction: column;
  }

  .divider {
    height: 4px;
    transform: rotateZ(90deg);
  }
}
