<nav class="navbar">
  <div class="logo">
    <a href="#" class="logo-link">
      <ul class="logo-string">
        <li>D</li>
        <li>I</li>
        <li>S</li>
        <li>E</li>
        <li>Ñ</li>
        <li>O</li>
        <li>L</li>
        <li>I</li>
      </ul>
    </a>
  </div>

  <!-- Links -->
  <ul class="navbar__links-container">
    <li class="navbar__li"><a href="start" class="navbar__link">Main</a></li>
    <li class="navbar__li">
      <a href="projects" class="navbar__link">Projects</a>
    </li>
    <li class="navbar__li">
      <a href="photography" class="navbar__link">Photography</a>
    </li>
    <li class="navbar__li">
      <a href="about" class="navbar__link">About Me</a>
    </li>
    <li class="navbar__li">
      <a href="contact" class="navbar__link">Contact</a>
    </li>
  </ul>
  <div id="mode-toggle"></div>
  <div class="hamburger" id="hamburger">&#9776;</div>
</nav>
