<section id="about-me">
  <h2 class="portfolio__heading">If want to get to know more about me?</h2>
  <p>
    Soy {{ name }}, un desarrollador front-end con experiencia en Angular y un
    apasionado fotógrafo. Me encanta crear aplicaciones web interactivas que
    brinden experiencias únicas y visualmente atractivas. Mi pasión por la
    fotografía me ayuda a capturar momentos especiales con un enfoque creativo y
    detallado.
  </p>
  <p>
    Estoy siempre en búsqueda de nuevos desafíos y oportunidades para combinar
    mis dos pasiones y seguir aprendiendo cada día.
  </p>

  <div id="avatar"></div>
</section>
