<section id="about-me">
  <h2 class="portfolio__heading about__title">
    If want to get to know more about me?
  </h2>

  <div class="flex:row gap:4">
    <div>
      <p class="about__biography">
        Soy {{ name }}, un desarrollador front-end con experiencia en Angular y
        un fotógrafo incipiente. Me encanta crear aplicaciones web interactivas
        que brinden experiencias únicas y visualmente atractivas. Mi pasión por
        la fotografía me ayuda a capturar momentos especiales con un enfoque
        creativo y detallado.

        <br />
        Estoy siempre en búsqueda de nuevos desafíos y oportunidades para
        combinar mis dos pasiones y seguir aprendiendo cada día.

        <br />
      </p>

      <span class="about__concept">
        <i>"Eighty percent of success is showing up." - Woody Allen</i>
      </span>
    </div>

    <div id="avatar"></div>
  </div>

  <div class="ending">
    <h4>
      <strong>Thanks for scrolling. </strong>
      <i class="fa-solid fa-smile icon"></i>
      <i>Thats all folks</i>.
    </h4>
  </div>
  <div class="pattern:polka rotate:90 top:70 left:60"></div>

  <style>
    .ending {
      position: relative;
      margin: auto;
      margin-top: 15rem;
    }
  </style>
</section>
