.photography-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 3rem 10% 3rem 10%;
  align-items: center;
}

.galery {
  display: grid !important;
  grid-template-columns: auto auto auto;
  margin: auto;
  gap: 16px;
}
