<section id="photography" class="photography-container">
  <div class="pattern:polka left:80"></div>

  <h2 class="portfolio__heading">Mi Fotografía | My Photography</h2>
  <!-- <div class="galery" id="galery"></div> -->

  <div class="glider-tabs__container">
    <div class="glider-tabs__tabgroup">
      <div class="glider-tabs__tab">
        <input
          type="radio"
          name="slide-tabs"
          id="radio-1"
          class="glider-tabs__radio-input"
        />
        <label for="radio-1" class="glider-tabs__tab-label"> Industry </label>
      </div>
      <div class="glider-tabs__tab">
        <input
          type="radio"
          name="slide-tabs"
          id="radio-2"
          class="glider-tabs__radio-input"
        />
        <label for="radio-2" class="glider-tabs__tab-label">
          Nature and periferals
        </label>
      </div>
      <div class="glider-tabs__tab">
        <input
          type="radio"
          name="slide-tabs"
          id="radio-3"
          class="glider-tabs__radio-input"
        />
        <label for="radio-3" class="glider-tabs__tab-label"> Retraits </label>
      </div>
      <div class="glider-tabs__tab">
        <input
          type="radio"
          name="slide-tabs"
          id="radio-4"
          class="glider-tabs__radio-input"
        />
        <label for="radio-4" class="glider-tabs__tab-label"> Cómics </label>
      </div>
      <div class="glider-tabs__tab">
        <input
          type="radio"
          name="slide-tabs"
          id="radio-5"
          class="glider-tabs__radio-input"
        />
        <label for="radio-5" class="glider-tabs__tab-label">
          Experimental
        </label>
      </div>
      <div class="glider-tabs__tab">
        <input
          type="radio"
          name="slide-tabs"
          id="radio-6"
          class="glider-tabs__radio-input"
        />
        <label for="radio-6" class="glider-tabs__tab-label"> Propagand </label>
      </div>
      <div class="glider-tabs__glider" id="glider"></div>
    </div>
  </div>

  <div class="animated-galery-container">
    <div class="animated-galery-grid">
      <div class="photo-area">
        <div class="photo-container">
          <img src="https://assets.codepen.io/1462889/sl1.jpg" alt="" />
        </div>
        <div class="photo-info">
          <h2 class="photo-title">Industria</h2>
          <p class="photo-year">2025</p>
        </div>
      </div>

      <div class="photo-area">
        <div class="photo-container">
          <img src="https://assets.codepen.io/1462889/sl2.jpg" alt="" />
        </div>
        <div class="photo-info">
          <h2 class="photo-title">Naturaleza y Periferias</h2>
          <p class="photo-year">2025</p>
        </div>
      </div>

      <div class="photo-area">
        <div class="photo-container">
          <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="" />
        </div>
        <div class="photo-info">
          <h2 class="photo-title">Retratos</h2>
          <p class="photo-year">2025</p>
        </div>
      </div>

      <div class="photo-area">
        <div class="photo-container">
          <img src="https://assets.codepen.io/1462889/sl4.jpg" alt="" />
        </div>
        <div class="photo-info">
          <h2 class="photo-title">Animadas e Irónicas</h2>
          <p class="photo-year">2025</p>
        </div>
      </div>

      <div class="photo-area">
        <div class="photo-container">
          <img src="https://assets.codepen.io/1462889/sl5.jpg" alt="" />
        </div>
        <div class="photo-info">
          <h2 class="photo-title">Experimentales</h2>
          <p class="photo-year">2025</p>
        </div>
      </div>

      <div class="photo-area">
        <div class="photo-container">
          <img src="https://assets.codepen.io/1462889/sl6.jpg" alt="" />
        </div>
        <div class="photo-info">
          <h2 class="photo-title">Propaganda</h2>
          <p class="photo-year">2025</p>
        </div>
      </div>
    </div>
  </div>

  <button class="portfolio__button:secondary">Load More</button>
</section>
