<section id="testimonials">
  <div>
    <p>
      For <strong>performance</strong>, <strong>efficiency</strong> and
      <strong>developer experience</strong>.
    </p>
    <p>OLI is trusted by all the clients reached nowadays</p>

    <button>View the OLI Showcase</button>
  </div>
  <div class="testimonials">
    <div class="testimonial__content">
      <p class="testimonial__quote">
        “With Next.js, we now consistently average 0.09 or lower for Cumulative
        Layout Shift, placing our site in the top tier for user experience and
        Core Web Vitals.”
      </p>
      <p class="testimonial__author">- Senior Software Engineer, Frontend</p>
    </div>
    <div class="testimonial__content">
      <p class="testimonial__quote">
        “Our UI for Frame.io responds to user input within 100ms and all
        animations run at a consistent 60fps with Next.js.”
      </p>
      <p class="testimonial__author">- Charlton Roberts, Product Engineering</p>
    </div>
    <div class="testimonial__content">
      <p class="testimonial__quote">
        “Next.js has been a game-changer for our agency work and team
        collaboration. Its powerful features have allowed us to build
        high-performance websites quickly and efficiently like never before.”
      </p>
      <p class="testimonial__author">- Daniel Lopes, Frontend Developer</p>
    </div>
  </div>
</section>
